.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  /* border: 5px solid #ed6742; */
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position:relative;
  display: flex;
  background-color: #f2f2f2;
}

.header__logo {
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 2;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  align-self: center;
  margin-left: 64px;
  width: 730px;
  z-index: 2;
}

.subtitles {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  flex-direction: row;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}

.subtitles__subtitle {
  display: inline;
}

.subtitles__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  margin: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.description {
  border: 1px solid blue;
  position: relative;
  display: flex;
  justify-content: center;
}

.two-columns {
  border: 1px solid red;
  width: 80%;
  background-color: white;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.two-columns__brief {
  border: 1px solid red;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  width: 80%; 
  min-width: 784px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin-bottom: 30px;
}

.two-columns__paragraph-no-margin-bottom {
  margin-bottom: 0;
}

.two-columns__paragraph-span {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.two-columns__span-accent {
  font-weight: 600;
}



.digits {
  border: 1px solid blue;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 60px;
  line-height: 1.15px;
  font-weight: 600;
  text-align: center;
  width: 60%;
  align-self: center;
  margin-bottom: 20px;
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 0;
}



.table {
  width: 1100px;
  display: flex;
}
.table__row {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-top: 60px;
}
.table__cell {
  width: 250px;
}
.table__heading-style-heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin-bottom: 20px;
}
.table__text-style-text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
}












/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

